.footer{
    text-align: center;
    margin: 0px auto 0;
	min-width: 1000px;
	height: 40px;
	position: relative;
}

.sidebar{
    margin-top: 10px; 
    width: 220px; /* Ширина слоя */
    padding: 10 15px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */ 
	position: relative;
}
.content {
	width: 80%;
	padding: 0 0 100px;
	position: relative;
    margin-left: 160px;
    text-align: justify;
}

.article{
    margin-top:0.5em;
    margin-bottom: 3em;
    padding: 0 100 0 63px;
}

.image {
    display: inline-block; 
    vertical-align: top; 
    position: relative; 
}
img {
    display: block; 
    }
.caption {
        box-sizing: border-box; 
        width: 100%; 
        padding: 10px; 
        position: absolute; 
        z-index: 2; 
        left: 0; 
        bottom: 0; 
        background-color: rgba(0, 0, 0, .5);
        text-align: center; 
        color: #fff; 
        font: 11px/16px;
        font-family: OpenSans-Light; 
    }

/*.content:after {
	display: table;
	clear: both;
	content: '';
}*/


/* шрифты*/
@font-face{
    font-family: OpenSans-ExtraBold;
    src: url(/Шрифты/OpenSans-ExtraBold.ttf);
}

@font-face{
    font-family: OpenSans-Light;
    src: url(/Шрифты/OpenSans-Light.ttf);
}

@font-face{
    font-family: OpenSans-LightItalic;
    src: url(/Шрифты/OpenSans-LightItalic.ttf);
}

@font-face{
    font-family: OpenSans-BoldItalic;
    src: url(/Шрифты/OpenSans-BoldItalic.ttf);
}

@font-face{
    font-family: OpenSans-Regular;
    src: url(/Шрифты/OpenSans-Regular.ttf);
}

h1 {
    font-family: "OpenSans-ExtraBold";
}
h3 {
    font-family: "OpenSans-BoldItalic";
    font-size: 28px;
}
p {
	font-family: "OpenSans-Light";
    font-size: 22px;
    word-wrap: normal;
    text-indent: 30px;
}
em {
    font-family: "OpenSans-LightItalic";
    font-size: 15px;   
}
footer {
    font-family: OpenSans-Regular;
    font-size: 11px;
}
body {
    margin: 0;
    background: url("/background.jpg");
}

/* стили для меню*/
nav {
  display: block;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px 0;
  overflow: hidden;
    
}
ul {
  list-style: none;
  margin: 10;
  padding-left: 10;
  counter-reset: li;
  text-align: center;
}
li {
  display: inline-block;
  position: relative;
}
/*a:before {
  content: "0" counter(li)".";
  counter-increment: li; 
  position: absolute;
  left: 5px;
  top: 1;
  color: white;
  font-family: 'OpenSans-Regular';
  transition: all 0.4s ease-in-out;
}*/

a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: 'OpenSans-Regular';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  padding: 30px 40px 30px 5px;
  margin-right: 15px;
  transition: all 0.4s ease-in-out;
}
a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #333333;
}
a:hover:before {
  color: #333333;
}

.logo-box {
  float: left;
  margin-left: 0px;
}

.logo {
  margin: 0;
  height: 80px;
  text-align: center;
}


/*адаптация под экраны компьютера*/
@media screen and (max-width:574px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  ul {
    float: none;
    margin: 0 25px;
    }
 li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
nav {
  overflow: visible
}
ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
li {
  display: block;
  margin: 0;
}
li:hover {
  background: rgba(0,0,0,.1)
}
li a:after {
  content: none;
}
}

/*кнопка "наверх"*/
/* описание контейнера */
.leftbar-wrap {
position: fixed;
height: 100%;
top: 0;
width: 102px !important;
left: 0;
}
 
/* описание кнопки «Вверх» */
.left-controlbar {
height: 100%;
display: block;
text-decoration: none;
}
 
/* описание кнопки «Вернуться» */
#scroll-back {
display: block;
height: 100%;
top: 10;
display: none;
text-align: center;
}
 
/* описание столбца фонового цвета для обеих кнопок */
.active-area {
width: 100px;
height: 100%;
display: block;
text-align: center;
}
 
/* задаем прозрачность фонового цвета при наведении на активную область страницы */
.leftbar-wrap:hover .active-area {
background: #E1E7ED !important;
opacity:0.7 !important;
}
 
/* делаем подсветку немного ярче при наведении на надпись */
.leftbar-wrap .active-area:hover {
 
}
 
/* центрируем надпись у кнопок */
.bar-desc-niz {
top: 26% !important;
position: relative;
display: inline-block;
}
 
.bar-desc-top {
top: 18% !important;
position: relative;
display: inline-block;
}


.admin-table{
  width: 100%;
  
}
